@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom.css */
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #c6f26b;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: width 0.5s ease;
}

.tab-links.active-link::after {
  width: 50%; /* Adjust the percentage to control the length of the underline */
}

.active-link {
  font-weight: bold; /* Optional to highlight active link */
}

nav ul li span {
  display: block;
  height: 3px; /* Height of the underline */
  background: #c6f67e; /* Color of the underline */
  width: 0; /* Initially hidden */
  transition: width 0.3s ease-in-out; /* Smooth transition */
}

nav ul li:hover span {
  width: 100%; /* Show underline on hover */
}

